.author-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  margin: auto;
  background: url(https://avatars3.githubusercontent.com/u/14316277?v=5) no-repeat;
  background-size: 100%;
  background-position: 40% 0;
}

@media (max-width: 767px) {
	.author-img {
		margin-top: 40px;
	}
}