@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Rambla&family=Staatliches&display=swap');

/* Universal styles */
body {
  margin: 0;
  padding: 0;
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-border: #ffffff34;
  --font-staat: 'Staatliches', cursive;
  --font-os: 'Oswald', sans-serif;
  --font-ram: 'Rambla', sans-serif;
}

.font-staat {
  font: normal 400 18px var(--font-staat);
}

.font-os {
  font: normal 300 18px var(--font-os);
}

.font-ram {
  font: normal bold 18px var(--font-ram);
}

.font-size-40 {
  font-size: 40px;
}

.font-size-34 {
  font-size: 34px;
}

.font-size-27 {
  font-size: 27px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-16 {
  font-size: 16px;
}

.bgcolor-black {
  background-color: var(--color-black);
}