/* Loader styles */
#loader {
	height: 100%;
	width: 100%;
	background: #262f36; 
	color: white;
}

.loader {
	position: fixed;
	top: calc(50% - 60px);
	left: calc(50% - 60px);
	border: 16px solid #f3f3f3;
	border-top: 16px solid #262f36;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}